client-says {
	display: grid;
	text-align: center;
	justify-items: center;
	gap: 60px;
	padding: 0px 20px;
}



client-says review-grid {
	display: grid;
	gap: 30px;
}
.template3 client-says review-grid > .arrow {
	display: none;
}
html:not(.template3) client-says review-grid > .square {
	display: none;
}
client-says avatar-card picture {
	max-width: 30px;
}

client-says star-rating {
	display: none;
	
}
client-says star-rating picture {
	max-width: 20px;
}
client-says review-card {
	display: grid;
	justify-items: center;
	gap: 20px;
}
.template1 client-says avatar-card {
	display: grid;
	justify-items: center;
	order: 3;
	gap: 10px;
}
.template1 client-says avatar-card h1 {
	color: var(--neutral-stuffs);
}
.template1 client-says avatar-card h2 {
	display: none;
}
.template1 client-says blockquote {
	order: 2;
}
.template1 client-says star-rating {
	order: 1;
	display: flex;
	/*gap: 5px;*/
	align-items: center;

}

html:not(.template1) client-says review-card {
	display: flex;
	gap: 30px;
	flex-direction: column-reverse;
	align-items: center;
}
html:not(.template1) client-says blockquote {
	font-size: 1.2rem;
	font-weight: 200;
}
.template2 client-says avatar-card {
	display: grid;
	gap: 10px;
	grid-template-columns: 0.1fr 1fr;
}
.template2 client-says avatar-card picture {
	grid-row: span 2;
	min-width: 40px;
}
.template3 client-says avatar-card picture {
	display: none;
}
.template3 client-says avatar-card {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.template3 client-says review-card {
	align-items: flex-start;
	text-align: left;
}

@media (min-width:  750px) {
	.template1 client-says review-grid {
		grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
		align-items: center;
	}
	.template2 client-says review-grid {
		grid-template-columns: 0.1fr 1fr 0.1fr;
		align-items: center;
	}

	client-says review-grid .flip {
		transform: scale(-1);
	}
	.template2 client-says blockquote {
		font-size: 2rem;
		font-weight: 200;
	}
	.template3 client-says review-grid {
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
}