@import 'meyers-reset.css';
@import 'setup.css';
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,200;1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600;1,6..72,700;1,6..72,800&display=swap');

/**Clarity**/

/*body {
	border: 5px solid red;
}

body * {
	border: 5px solid black;
	margin: 5px;
}

body > * {
	border-color: blue;
}

body > * > * {
	border-color: forestgreen;

}*/


html {
	--paper: rgba(217, 215, 208, 1.00);
	--head1: rgba(124, 38, 33, 1.00); /*also for bold*/
	--head2: rgba(180, 94, 89, 1.00); /*//also for italics*/
	--link: rgba(52, 90, 159, 1.00);
	--text: rgba(45, 7, 6, 1.00);
	--highlight1: rgba(229,180,131,1); /*subdued*/
	--highlight: rgba(233, 159, 85, 1.00); /*louder*/
	

}

/*@media (prefers-color-scheme: dark) {
	html {
	--paper: rgba(0, 0, 0, 1.00);
	--head1: rgba(217, 215, 208, 1.00);
	--head2: rgba(255, 255, 255, 1.00);
	--link: rgba(246, 233, 14, 1.00);
	--text: rgba(45, 7, 6, 1.00);
	--highlight: rgba(163, 7, 3, 1.00);

	}
}*/



/**STRUCTURE******/

body {
	background-color: var(--paper);
	color: var(--text);
	
	/*position: relative;*/

}


main .inner-column {
	max-width: 80ch;
	margin: 0 auto;
	padding: 20px;
	font-family: 'Newsreader';
}

/**TYPOGRAPHY******/

h1 {
	font-family: 'Newsreader', serif;
	font-size: 3rem;
	font-weight: 800;
	margin: 1em 0;
	color: var(--head1);
}





h2 {
	font-size: 2.2rem;
	color: var(--head1);
	margin: 0.5em 0;
	font-weight: 300;
}


h3 {
	font-size: 1rem;
	color: var(--head2);
	margin: 0.5em 0;
	font-weight: 500;
}

h2 + h3 {
	margin-top: 2em;
}
h3 a,
h2 a {
	display: inline;
}


p {
	font-size: 1rem;
	margin-top: 1rem;
	color: var(--head1);
}

span {
	color: var(--head2);
}

a, p a {
	color: var(--link);
	text-decoration: none;
	font-weight: 500;
}

a:hover {
	text-decoration: underline;
}
/**Sections******/



/*project card*/


project-list {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

project-card {
	display: block;
	color: var(--head1);
	line-height: 1.25;
	letter-spacing: 0.02em;
	background-image: linear-gradient(180deg, var(--highlight), var(--paper));
	border-radius: 10px;
	padding: 10px;
	max-width: 60ch;
	/*border-right: 1px solid var(--head1);*/
	border-top: 1px solid var(--head1);
	border-left: 1px solid var(--head1);



}


project-card h4 {
	font-size: 1.2rem;
	font-weight: 800;
	padding: 0.5em 0;
}


project-card p {
	font-size: 0.9rem;
}

project-card a {
	margin: 0.5em 2em;
	padding: 0.5em 0;
	text-align: center;
}

project-card a:hover {
	background-color: var(--highlight);
	border-radius: 10px;
	transition: 0.2s;
}



@media (min-width: 700px){
	project-list {
		flex-direction: row;
		flex-basis: 30%;
		justify-content: space-between;
	}
}









/*SVG*/

/*SVG*/

svg {
	pointer-events: none;
	/*display: none;*/

}

.b-svg {
	position: fixed;
	left: -400px;
	top: -50px;
	height: 800px;
	/*width: 200%;*/
	fill: var(--paper);
	/*stroke: var(--highlight);*/
	stroke-width: 0.3px;
	fill-opacity: 0;
	/*transform: translateX(-450px);*/
	transition: 0.3s;
	animation: 25s bletter infinite ease-in-out;
	
}

.b-svg #b-letter:hover {
	fill: var(--head1);
	transition: 0.3s;
}





.j-svg {
	position: fixed;
	right: -375px;
	top: 0;
	height: 800px;
	fill: var(--highlight);
	transition: 0.3s;
	animation: 25s jletter infinite ease-in-out;
	

}


.j-svg #j-letter {
	/*stroke: var(--highlight);*/
	stroke-width: 0.3px;
	fill-opacity: 0;
}

.j-svg #j-letter:hover {
	fill:var(--head1);
	transition: 0.3s;
}

#b-letter,
#j-letter {
	transition: 0.1s;
}








.j-svg #webdev-word {
	font-family:'Newsreader';
	font-size: 19px;
	
}


#webdev-word {
	transition: 0.1s;
	stroke-width: 0px;
}

.j-svg #j-letter:hover + #webdev-word {
	font-weight: 900;
	/*font-style: italic;*/

}

#webdev-word:hover {
	font-weight: 900;
	/*font-style: italic;*/
}


@media (min-width: 800px){


	svg {
	pointer-events: auto;
	}

	.b-svg {
		position: fixed;
		left: -250px;
		top: 0;
		height: 800px;
		/*width: 200%;*/
		fill-opacity: 1;
		fill: var(--highlight);

		/*transform: translateX(-450px);*/
		animation: 5s bletter infinite ease-in-out;
		stroke-width: 0px;
	}

	.j-svg {
		position: fixed;
		right: -120px;
		top: -20px;
		height: 600px;
		fill: var(--highlight);
		animation: 5s jletter infinite ease-in-out;
	}

	.j-svg #j-letter {
		stroke: var(--highlight);
		stroke-width: 0px;
		fill-opacity: 1;
}

	

}

@media (min-width: 1500px){

	.b-svg {
		position: fixed;
		left: -400px;
		top: 0px;
		height: 1300px;
		/*width: 200%;*/
		fill: var(--highlight);
		/*transform: translateX(-450px);*/
		animation: 5s bletter infinite ease-in-out;
	}

	.j-svg {
		position: fixed;
		right: -190px;
		top: -200px;
		height: 1300px;
		fill: var(--highlight);
		/*animation: 5s jletter infinite ease-in-out;*/
	}

}




@keyframes bletter {
	0% {
		transform: translate(-10px, 10px);
		stroke: var(--highlight);
	}

	25% {
		stroke: var(--highlight1);
	}

	50% {
		transform: translate(10px, -10px);
		stroke: var(--head2);
	}

	75% {
		stroke: var(--head1);
	}

	100% {
		transform: translate(-10px, 10px);
		stroke: var(--highlight);
	}
}

@keyframes jletter {
	0% {
		transform: translate(10px, -10px);
		stroke: var(--highlight);
	}

	25% {
		stroke: var(--highlight1);
	}

	50% {
		transform: translate(-10px, 10px);
		stroke: var(--head2);
	}

	75% {
		stroke: var(--head1);
	}
	
	100% {
		transform: translate(10px, -10px);
		stroke: var(--highlight);
	}
}













