body.goals text-content {
  max-width: 70ch;
}

goals-module li {
  background-image: var(--gradient-highlight);
  border-radius: var(--corners);
  padding: var(--space-2xs);
  margin: var(--space-2xs) 0;
}

/* /// */

@media (min-width: 1000px) {
  .project-page .goals-list {
    grid-column: 10 / -1;
    align-self: start;
    position: sticky;
    top: 35vh;
  }
}
