html.goals text-content {
  max-width: 70ch;
}

goals-module li {
  background-image: linear-gradient(90deg, var(--highlight), var(--paper));
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

/* /// */

@media (min-width: 1000px) {
  .project-page .goals-list {
    grid-column: 10 / -1;
    align-self: start;
    position: sticky;
    top: 35vh;
  }
}
