.goals .generic-text {
  background-image: var(--checkers);
  border: unset !important;
}

.goals .generic-text text-content {
  position: relative;
  padding-left: 40px;
}

.goals .generic-text text-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 0.5rem;
  height: 100%;
  background-color: black;
}

.goals .generic-text p {
  background-color: var(--paper);
  padding: 10px;
}

goals-module .attention-voice {
  font-weight: 700;
}

goals-module ul {
  margin-top: 40px;
  display: grid;
  gap: 40px;

  padding-left: 45px;
}

goals-module li {
  position: relative;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.4;
  max-width: 70ch;
  /* word-wrap: break-word; */
}

goals-module li::before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: -45px;

  width: 20px;
  height: 20px;
  border-radius: 50%;

  box-shadow: 0 0 0 3px rgba(17, 17, 17, 0.3);
}

goals-module li:nth-of-type(1n + 1)::before {
  background-color: var(--blue);
}
goals-module li:nth-of-type(2n + 2)::before {
  background-color: var(--red);
}
goals-module li:nth-of-type(3n + 3)::before {
  background-color: var(--orange);
}
