@import 'meyers-reset.css';
@import 'setup.css';
@import 'animation.css';
@font-face {
    font-family: "expose";
    src: url("expose.otf");
}
html {
    --delay: 2s;
}





/**STRUCTURE******/
.inner-column {
    max-width: clamp(70ch, 50vw, 120ch);
    margin: 0 auto;
}

.inner-column * {
    /*transition-duration: 0.2s;*/
}

/**TYPOGRAPHY******/
/**Sections******/
body {
    padding-bottom: 30vh;
    background-color: hsla(360, 88%, 30%, 1.00);
}

h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 100px;
    color: white;
    font-family: expose;
    font-size: clamp(4.38rem, calc(3.78rem + 2.98vw), 7.50rem);
    background-color: hsla(360, 88%, 30%, 1.00);
    transition-duration: 0.2s;
    /*position: relative;*/
}

/*h1:after {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    z-index: -1;
}

h1:hover:after {
    animation: 1s glitch;
    animation-delay: var(--delay);
    animation-iteration-count: infinite;
    animation-direction: alternate;

    animation-timing-function: steps(2, start);
}*/

header a {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 20px;
    position: fixed;
    left: 1%;
    top: 1%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* Input ************************************************/
.input-field {
    align-content: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
    /*position: relative;*/
    /*border: 2px solid yellow;*/
}

.input-field {
    font-family: monospace;
    text-align: center;
    position: relative;
    /*left: 40%;*/
    /*bottom: -50%;*/
    /*left: 40%;*/
    display: block;
    transition: 0.2s;
    color: #9b9b9b;
}

.input-field .text-number-input + label {
    width: 100%;
    opacity: 0.6;
    font-weight: 300;
     font-size: 1.8rem;
    margin: 0;
    position: absolute;
    /*color: #8F8F8F;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*z-index: 11;*/
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    cursor: text;
}






.input-field .text-number-input:valid + label,
.input-field .text-number-input:focus + label {
    top: -20px;
    /*color: #333;*/
    opacity: 1;
    color: white;
    font-size: 1.2rem;
}


input {
    /* position */
    width: 100%;

    font-size: 25px;
    background-color: hsla(360, 88%, 30%, 1.00);
    text-align: center;
    border: none;
    border-radius: 5px;
    /* animation */
    transition: 0.5s;
    /*transform: rotate(3deg);*/
}

.text-number-input {
    padding: 20px;
    border-bottom: 5px solid black;
}
/*.input-field:after {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 0px;
    z-index: 111;
    transform: bottom left;
    transition-duration: 0.3s;
    pointer-events: none;
}
.input-field:before {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 5px;
    bottom: 0;
    right: 0;
    width: 5px;
    height: 0px;
    z-index: 111;
    transform: bottom right;
    transition-duration: 0.3s;
    pointer-events: none;
}

.input-field:hover:after,
.input-field:hover:before {
    height: 100%;

}*/

.text-number-input:focus {
    color: white;
    background-color: black;
    /*font-size: 25px;*/
    /*line-height: 2;*/
    outline: 0;

    /*transform: rotate(-3deg);*/
}



::placeholder {
    color: white;
    opacity: 0.5;
    opacity: 0;
    font-weight: bold;
    font-size: 70px;
    font-family: Expose;

}

input:focus::placeholder {
    
    opacity: 0.15;
}



/*Radio*/

.radio-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.radio-list > .input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.radio-list input[type="radio"] {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0;
    /*background-color: black;*/
    display: none;
}
.input-field input[type="radio"] + label {
    width: 100%;
    opacity: 0.6;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;
    border: 3px solid black;
    padding: 5px;
    border-radius: 5px;
    animation: 0.3s pickmeBounce infinite;
    cursor: pointer;

}

.input-field input[type="radio"] + label:hover {
    animation: none;
    transform: rotate(-4deg) scale(1.5);
    opacity: 1;
    color: white;
}

.input-field input[type="radio"]:checked + label {
    opacity: 1;
    color: white;
    /*font-family: 'Expose';*/
    font-size: 1.8rem;
    position: relative;
    transform: rotate(-4deg);
    border: 0px;
    animation: 5s pickmeBounce infinite;
}

.input-field input[type="radio"] + label {
    /*animation: none;*/
}

.input-field input[type="radio"]:checked + label:after {
    content: "SELECTED";

    opacity: 1;
    color: white;
    font-family: 'Expose';
    font-size: 1.8rem;
    background-color: black;
    animation: stamp 0.4s ease-in;

    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(30deg) scale(0.9);

}







/*range-slider  */

.range-field {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
}

input[type="range"] + label {
    width: 100%;
    opacity: 1;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;
}


input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: white;
  outline: none;
  border: 0px solid white;
  border-radius: 5px;
}


/* for chrome/safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 35px;
  background: #000;
  cursor: pointer;
  border: 5px solid white;
  border-radius: 4px;
}

/* for firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #000;
  cursor: pointer;
  border: 5px solid white;
  border-radius: 4px;
}





/*select dropdown list*/
.select-list {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: center;

}


















/* button *****************************************************/
.buttonWrapper {
    /*Positions*/
}



/* CSS */
button,
button:after {
    width: 100%;
    font-family: monospace;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: hsla(360, 88%, 35%, 1.00);
    /*transition-duration: 0.2s;*/
    position: relative;
    /*overflow: hidden;*/
    touch-action: manipulation;
    cursor: pointer;
}

button:after {
    /*height: 200%;*/
    width: 90%;
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'PUSH ME';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

button:hover:after {

    animation: 1s glitch;
    animation-delay: var(--delay);

    animation-iteration-count: infinite;
    animation-direction: alternate;

    animation-timing-function: steps(2, start);
}

button:before {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    top: 0px;
    transform: translate(15px, 15px);
    transition: transform .2s ease-out;
    z-index: -1;
}

button:hover:before {
    transform: translate(-15px, -15px);
}

button:hover:before {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    animation: 2s glitch;
    animation-delay: var(--delay);
    animation-iteration-count: infinite;
    animation-direction: alternate;

    animation-timing-function: steps(1, start);
}

button:active:before {
    transform: translate(0, 0);
}

button:hover {
    outline: 0;
}




/*output-field*/

output {
    font-family: monospace;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2em;
}

output span,
.input-field label span {
    /*font-weight: 700;*/
    color: hsla(60, 100%, 70%, 1.00);
}

output em {
    font-style: italic;
}

.hide {
    display: none;
}