@import 'meyers-reset.css';
@import 'setup.css';
@import 'animation.css';
@font-face {
    font-family: "expose";
    src: url("expose.otf");
}

/**Clarity**/
/*body {
    outline: 1px solid red;
}

body * {
    outline: 1px solid black;
    margin: 1px;
}

body > * {
    outline-color: blue;
}

body > * > * {
    outline-color: forestgreen;

}*/
/**STRUCTURE******/
.inner-column {
    max-width: clamp(70ch, 50vw, 120ch);
    margin: 0 auto;
}

.inner-column * {
    /*transition-duration: 0.2s;*/
}

/**TYPOGRAPHY******/
/**Sections******/
body {
    background-color: hsla(360, 88%, 30%, 1.00);
}

h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 125px;
    color: white;
    font-family: expose;
    font-size: clamp(100px, 10vw, 200px);
    background-color: hsla(360, 88%, 30%, 1.00);
    transition-duration: 0.2s;
}

h1:hover {
    color: black;
}

header a {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 20px;
    position: fixed;
    left: 1%;
    top: 1%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* Input ************************************************/
.input-field {
    align-content: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
    /*position: relative;*/
    /*border: 2px solid yellow;*/
}

.input-field {
    font-family: monospace;
    text-align: center;
    position: relative;
    /*left: 40%;*/
    /*bottom: -50%;*/
    /*left: 40%;*/
    display: block;
    transition: 0.2s;
    color: #9b9b9b;
}

.input-field input:not(input[type="radio"]) + label {
    width: 100%;
    opacity: 0.6;
    font-weight: 300;
     font-size: 1.8rem;
    margin: 0;
    position: absolute;
    /*color: #8F8F8F;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*z-index: 11;*/
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    cursor: text;
}






/*.input-field input:valid + label,*/
.input-field input:not(input[type="radio"]):focus + label {
    top: -20px;
    /*color: #333;*/
    opacity: 1;
    font-size: 1.2rem;
}


input {
    /* position */
    width: 100%;

    font-size: 25px;
    background-color: hsla(360, 88%, 30%, 1.00);
    text-align: center;
    border: none;
    border-bottom: 5px solid black;
    border-radius: 5px;
    /* animation */
    transition: 0.5s;
    /*transform: rotate(3deg);*/
}

input:focus:not(input[type="radio"]) {
    border: none;
    color: white;
    background-color: black;
    /*font-size: 25px;*/
    /*line-height: 2;*/
    outline: 0;

    /*transform: rotate(-3deg);*/
}

input:not(input[type="radio"]) {
    padding: 20px;

}

::placeholder {
    color: white;
    opacity: 0.5;
    opacity: 0;
    font-weight: bold;
    font-size: 70px;
    font-family: Expose;

}

input:focus::placeholder {
    
    opacity: 0.15;
}



/*Radio*/

.input-field input[type="radio"] + label {
    width: 100%;
    opacity: 0.6;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;

}

.input-field input[type="radio"]:focus + label {
    opacity: 1;
}

.radio-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.radio-list > .input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.radio-list input[type="radio"] {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0;
    /*background-color: black;*/
}

/* button *****************************************************/
.buttonWrapper {
    /*Positions*/
}

button {
    /* styles */
    /*margin-top: 40px;*/
    font-family: monospace;
    width: 100%;
    color: white;
    font-size: 1.8rem;
    font-weight: bolder;
    padding: 16px;
    border: none;
    border-radius: 5px;
    background-color: hsla(360, 88%, 35%, 1.00);
    transition-duration: 0.2s;
    margin- top
    /*transform: rotate(3deg);*/
}

button:hover {
    /*transition-duration: 0.25s;*/
    color: white;
    font-family: expose;
    /*font-size: 70px;*/
    border: none;
    background-color: black;
    box-shadow: 0px 20px 30px black;
}

.output-field {
    font-family: monospace;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2em;
}

.output-field span {
    font-weight: 700;
    color: hsla(60, 100%, 70%, 1.00);
}

.output-field em {
    font-style: italic;
}

.hide {
    display: none;
}