header {
	overflow: hidden;

}

header .circle {
	position: absolute;
	fill: var(--dark-color);

	right: -90px;
	top : -90px;
	width: 200px;


}

@media (min-width: 500px) {
	header .circle {
	position: absolute;
	fill: var(--light-color);

	width: 300px;
	right: -90px;
	top : -120px;
	


}
}