header {


}

header .circle {
	position: absolute;
	fill: var(--dark-color);

	right: -90px;
	top : -90px;
	width: 200px;


}

@media (min-width: 500px) {
	header > inner-column {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}
	header > inner-column > h1 {
		grid-column-start: 2;
	}
	header .circle {
	position: absolute;

	width: 300px;
	right: -90px;
	top : -120px;
	


}
}

@media (min-width: 800px) {
	header > inner-column.hide {
		display: block;
	}
	header .circle {
		position: fixed;
		top:  50%;
		right: initial;
		left: -220px;
		display: none;
	}
}
@media (min-width: 880px) {
	header .circle {
		display: block;
	}
}