footer {
	padding-bottom: 300px;
	position: relative;
	overflow: hidden;
}
footer .circle {
		fill: var(--dark-color);
		position: absolute;
		top:  0px;
		right: initial;
		left: -200px;
		display: block;
	}
	foot
