mast-head {
	display: flex;
	/*gap: 10px;*/
	align-items: center;
	justify-content: space-between;
}



mast-head .site-menu ul {
	display: none;
}
@media (min-width:  600px){
	mast-head .site-menu ul {
		display: flex;
		gap: 10px;
		justify-content: center;
	}
}

mast-head .buttons .rounded {
	border-radius: 50px;
}