inner-column {
	display: grid;
	gap: 40px;
	justify-items: center;
	margin-top: 20px;	

}
roullete-module {
	display: grid;
	justify-items:  center;
}
numbers-grid {
	order: 2;
}
@media (min-width: 850px){
	roullete-module {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
	}
	numbers-grid {
		order: unset;
	}
}

roullete-module {
	justify-self: stretch;
}



h1 {
	max-width: 800px;
}


h1 span {

	/*filter: url(#glow);*/

	text-shadow: 
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #0fa,
		0 0 82px #0fa,
		0 0 92px #0fa,
		0 0 102px #0fa,
		0 0 151px #0fa;

	will-change: filter, color;
	filter: saturate(60%);
	animation: colorFLicker steps(100) 5s infinite;
}





/*number chart*/

