inner-column {
	display: grid;
	gap: 40px;
	justify-items: center;
	margin-top: 20px;	

}
roullete-module {
	display: grid;
	justify-items:  center;
}
numbers-grid {
	order: 2;
}
@media (min-width: 850px){
	roullete-module {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
	}
	numbers-grid {
		order: unset;
	}
}

roullete-module {
	justify-self: stretch;
}



h1 {

	fill: hsla(296, 45%, 100%, 1.00);
	fill-rule:nonzero;
	max-width: 800px;
}

h1 .front-title {
	/*display: none;*/
}

h1 .glow-title {
	fill: var(--red);
	filter: url(#glow);
}





/*number chart*/

