	
html {

	--standard: 1140px;
	--tight: 800px;
	--wide: 1400px;


	--black: #111111;
	--white: hsla(0, 0%, 100%, 1.00);

	--neutral-stuffs: hsla(0, 0%, 46%, 1.00);

	--h: 215;
	--s: 100%;
	--l: 50%;
	--color: hsla(0, 88%, 50%, 1.00);
	--highlight: hsla(0, 88%, 70%, 1.00);
	--highlight2: hsla(0, 90%, 35%, 1.00);
	--shade: hsla(0, 88%, 30%, 1.00);
	--shade2:  hsla(215, 100%, 40%, 1.00);

	--shadow: rgba(0,0,0,.8);

	--corners: 10px; /* or whatevers */

	--paper: hsla(238, 78%, 24%, 1.00);
	--ink: var(--black);

}

