wheel-module {
	max-width: 700px;
	align-self: center;
	position: relative;
	justify-self: stretch;
}

svg {
	fill-rule: evenodd;
	clip-rule: evenodd;
	stroke-linejoin: round;
	stroke-miterlimit: 2;
}

svg #centre-circle {
	fill: var(--paper);
	
}

svg.wheel text {
	font-size: 39.34px;
	font-family: Tourney-Medium, Tourney;
}

#red-color :is(path, text) {
	fill: #f653a2;
}

#blue-color :is(path, text) {
	fill: #52b2ed;
}


#white-slices :is(path, text) {
	filter: url(#fil1);
}

#white-slices #red>* {
	/*display: none;*/
	fill: var(--red);
}
,
#white-slices #blue>* {
	fill: var(--blue);
}
#white-slices .selected :is(path, text) {
	fill: hsla(144, 100%, 40%, 1.00) !important;
}
#white-slices .selected {
	display: block !important;
}

#color-slices .selected>* {
	fill: hsla(144, 100%, 100%, 1.00) !important;
}


.button#spin {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	width: 17%;
	height: 17%;
	font-weight: 800;

	outline: 0.5px solid white;
	border-radius: 50%;
	/*padding: 60px;*/


}

button#spin .spin-svg {
	fill:white;
	fill-rule:nonzero;

	position: absolute;
	max-width: 80%;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


}

button#spin .spin-svg #back-spin {
	filter: url(#glow-spin);
	fill: var(--green);
}

