
.site-menu {
	background-color: var(--light-color);
	position: absolute;
	border-radius: 50%;
	left: -10%;
	top: 10%;
	padding: 80px;
	transform: scale(1.2);
}
.site-menu ul {
	display: grid;
	gap: 5px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



