# turn rewriting on
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# /projects  →  ?page=projects
# getting tangled up with the next one?

# /page-name →                              ?page=page-name
RewriteRule ^([0-9a-zA-Z_-]+)$              ?page=$1 [QSA]

RewriteRule projects(/)?$ ?page=projects [QSA]


RewriteRule ^projects/([0-9a-zA-Z_-]+)$     ?page=project&project=$1 [QSA]

RewriteRule ^garden/([0-9a-zA-Z_-]+)$     ?page=layout-detail&layout=$1 [QSA]

RewriteRule ^e4p/([0-9a-zA-Z_-]+)$     ?page=exercise-detail&exercise=$1 [QSA]
