* {
  box-sizing: border-box;
}

body {
   background-color: darkred;
}

h1 {
   color: red;
   font-size: clamp(30px, 9vw, 60px);
}

h2 {
   color: darkred;
   background-color: #5c5c5c;
}

a {
   color: blue;
   font-size: 40px;
   text-shadow: 1px 2px white;
   display: block;
}

sup {
   font-size: 20px;
}

p {
   color: whitesmoke;
}


img {
   width: clamp(30%, 9vw, 700px);
}

.wayback {
   position: fixed;
   width: 50%;
   bottom: 10px;
}



/*************favthings***************/


.favthings body {
   padding: 5px;
}


.favthings article {
  background-color: whitesmoke;
  font-family: Helvetica;
  padding: 40px;
  max-width: 80ch;
  margin-right:auto;
  margin-left:auto;
}

.favthings h1 {
   color: #e8304c;
   font-family: cursive;
   margin-bottom: 30px;
}

.favthings h2 {
   background-color: whitesmoke;
   color: #fb7d91;
   font-family: cursive;
  font-size: 35px;
  margin-top: 50px;
}

.favthings h3 {
  font-family: cursive;
  font-size: 20px;
  color: #6d3279;
  margin-top: 30px;
}



.favthings h2 + p, p + p {
  margin-top: 30px;
}

.favthings p {
   color: black;
  font-size: 16px;
  font-weight: 350;
  line-height: 1.75;
  letter-spacing: 0.08em;
}

.favthings blockquote {
  background-color: rgba(243, 183, 171, 0.25);
  padding: 20px;
}

.favthings ul {
  margin-top: 30px;
  list-style-type: disc;
  list-style-position: inside;
  color: #6d974f;
}

.favthings ol {
  margin-top: 10px;
  list-style-type: numbers;
  list-style-position: inside;
}

.favthings li {
  line-height: 2;
  font-family: monospace;
  font-size: 16px;
  letter-spacing: 0.08em;

}

.favthings a {
   color: #ce3ba1;

   font-size: 30px;

}

.favthings em {
  font-style: italic;
}





