@import 'meyers-reset.css';
@import 'setup.css';
@import '../../common-style.css';


/**STRUCTURE******/















/*project card*/


project-list {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
}

project-card {
	display: block;
	color: var(--head1);
	line-height: 1.25;
	letter-spacing: 0.02em;
	background-image: linear-gradient(180deg, var(--highlight), var(--paper));
	border-radius: 10px;
	padding: 10px;
	max-width: 60ch;
	flex-basis: 30%;

	display: flex;

	flex-direction: column;
	justify-content: space-between;
	/*align-items: flex-start;*/




}



.wip {
	filter: grayscale(100%);
}


project-card h4 {
	font-size: 1.2rem;
	font-weight: 800;
	padding: 0.5em 0;
}


project-card p {
	font-size: 0.9rem;
	color: var(--head1);
}

project-card a {
	margin: 0.5em 2em;
	padding: 0.5em 0;
	text-align: center;
}

project-card a:hover {
	background-color: var(--highlight);
	border-radius: 10px;
	transition: 0.2s;
}



@media (min-width: 700px){
	project-list {
		flex-direction: row;
		flex-basis: 30%;
		justify-content: space-between;
	}
}




/*SVG*/



.b-svg {

	left: -300px;
	top: -50px;
	height: 800px;
	
}



.j-svg {

	right: -375px;
	top: 0;
	height: 800px;

}





@media (min-width: 800px){


	.b-svg {

		left: -250px;
		top: 0;
		height: 800px;

	}

	.j-svg {

		right: -120px;
		top: -20px;
		height: 600px;

	}


}

@media (min-width: 1500px){

	.b-svg {

		left: -600px;
		top: 0px;
		height: 1300px;
	}

	.j-svg {

		right: -550px;
		top: -200px;
		height: 1300px;

	}

}

@media (min-width: 2100px){

	.b-svg {

		left: -400px;
		top: 0px;
		height: 1300px;
	}

	.j-svg {

		right: -250px;
		top: -200px;
		height: 1300px;

	}

}




@keyframes bletter {
	0% {
		transform: translate(-10px, 10px);
		stroke: var(--highlight);
	}

	25% {
		stroke: var(--highlight1);
	}

	50% {
		transform: translate(10px, -10px);
		stroke: var(--head2);
	}

	75% {
		stroke: var(--head1);
	}

	100% {
		transform: translate(-10px, 10px);
		stroke: var(--highlight);
	}
}

@keyframes jletter {
	0% {
		transform: translate(10px, -10px);
		stroke: var(--highlight);
	}

	25% {
		stroke: var(--highlight1);
	}

	50% {
		transform: translate(-10px, 10px);
		stroke: var(--head2);
	}

	75% {
		stroke: var(--head1);
	}
	
	100% {
		transform: translate(10px, -10px);
		stroke: var(--highlight);
	}
}













