.layout1 .image-grid {
  display: grid;
  gap: var(--space-s);
}

.layout1 layout-card {
  display: block;
  /*background-color: wheat;*/
  border-top: var(--border);
  padding: var(--space-m) 0;
}

/*break point 1 - medium*/
@media (min-width: 650px) {
  .layout1 .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-s);
  }

  .layout1 .image-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/*breakpoint 2 - large*/
@media (min-width: 1100px) {
  .layout1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xl);
  }

  .layout1 layout-header {
    grid-column: 1 / 2;
  }

  .layout1 .card-list {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .layout1 .image-grid {
    grid-row: 2 / 3;
    align-items: start;
  }
  .layout1 .image-grid li:nth-child(1),
  .layout1 .image-grid li:nth-child(2) {
    align-self: end;
  }
}

.shapes #circle {
  fill: var(--color-tertiary);
  stroke: black;
  stroke-width: 2px;
}

.shapes #rectangle {
  fill: var(--highlight);
  stroke: black;
  stroke-width: 2.03px;
}
