exercise-detail {
	display: grid;
	gap:  40px;
	justify-items: start;

}

exercise-detail #e4p-output span {
	color:  var(--dark-highlight);
}

exercise-detail a {
	grid-column: span 2;
}
exercise-detail toggle-switch,
exercise-detail h2 {
	grid-column: span 1;
}
@media (min-width:  500px){
	exercise-detail {
		grid-column: 2 / end;
	}

}

@media (min-width:  700px){
	exercise-detail {
		grid-column: 2 / end;
	}
	exercise-detail .e4p-js {
		grid-row: 4;
		grid-column: 2;
	}

}