exercise-detail {
  display: grid;
  gap: var(--space-xl);
  justify-items: start;
}

exercise-detail > exercise-form h3 {
  text-transform: uppercase;
}

exercise-detail output span {
  color: var(--color);
}

exercise-detail actions-component {
  display: grid;
  gap: var(--space-l);
}
toggle-switch.radio-list {
  gap: var(--space-xl);
}

exercise-form {
  gap: var(--space-l);
}

@media (min-width: 500px) {
  exercise-detail {
    grid-column: 2 / end;
    grid-template-columns: 1fr 1fr;
  }

  exercise-detail exercise-form {
    grid-column: span 2;
  }

  exercise-detail h2 {
    grid-column: 1 / end;
  }
}

@media (min-width: 700px) {
  exercise-detail {
    grid-column: 2 / end;
  }
  exercise-detail .e4p-js {
    grid-row: 4;
    grid-column: 2;
  }
}
