.about main {
  /* display: block; */
}
.about-module {
  overflow: hidden;
}

about-module {
  display: grid;
  gap: var(--space-3xl);
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  h2 {
    grid-column: 1 / -1;
  }
}

about-module .calm-voice {
  max-width: 60ch;
}

@media (min-width: 750px) {
  .about-module {
    overflow: unset;
  }
}

@media (min-width: 1500px) {
  about-module {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
