.about main {
  display: block;
}

about-module {
  display: grid;
  gap: 20px;
  align-items: start;
}

about-module .calm-voice {
  max-width: 60ch;
}

@media (min-width: 500px) {
}

@media (min-width: 1000px) {
  about-module {
    grid-template-columns: 1fr 0.4fr;
  }
  about-module text-content {
    /* order: 2; */
  }
}

@media (min-width: 1500px) {
  about-module {
    grid-template-columns: 1fr 1fr;
  }
}

.about header .circle {
  left: -400px;
}
