.garden-menu ul {
	display: flex;
	gap: 10px;
}


.site-menu {
	background-color: var(--light-color);
	position: absolute;
	border-radius: 50%;
	padding: 40px;
}
.site-menu ul {
	display: grid;
	gap: 10px;
}



