.template1 center-content a span {
	display: none;
}
.template2 center-content .picture-link,
.template3 center-content .picture-link,
.template2 center-content .buttons a:nth-of-type(2) {
	display: none;
}


.template3 center-content feature-grid picture {
	display: none;
}

center-content {
	text-align: center;
	display: grid;
	gap: 50px;
	justify-items: center;

}

center-content .loud-voice {
	font-weight: 500;
}

.template1 .buttons picture {
	max-width: initial;
}
center-content feature-grid {
	display: grid;
	gap: 20px;
}
@media (min-width:  750px) {
	center-content feature-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

center-content feature-grid feature-card {
	display: grid;
	gap: 10px;
}