@import "meyers-reset.css";
@import "setup.css";

/**Clarity**/

/*body {
	border: 5px solid red;
}*/

/*body * {
	border: 5px solid black;
	margin: 5px;
}*/

/*.site-header > * {
	border: 5px solid blue;
}
*/
/*.site-header > * > * {
	border: 5px solid green;

}*/

body * {
  transition: 1s;
}

body {
  background-color: black;
}

.black-ram {
  display: none;
  pointer-events: none;
}

input.menu-toggle {
  display: none;
}

.toggle-label {
  display: flex;
  margin: 5px 5px;
  width: 5vh;
  height: 5vh;
  background-image: url("../images/bar.svg");
  background-repeat: no-repeat;
  filter: invert(1);
}

input.menu-toggle:checked ~ .black-ram {
  display: initial;
  pointer-events: initial;
}

input.menu-toggle:checked ~ .toggle-label {
  display: none;
}

.toggle-label:hover {
  cursor: url("../images/cursor-hand.png"), auto;
}

/**STRUCTURE******/

/*.inner-column {
	max-width: 80ch;
	margin: 0 auto;
}*/

/**Themeing******/

.black-ram .site-header {
  background-image: url("../images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  height: 100vh;
}

.black-ram .nav-bar {
  background-color: white;
}

/**TYPOGRAPHY******/

/**Sections******/

/*.nav-bar > * {
	border: 5px solid yellow;
}*/

.black-ram .nav-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid black;
  align-items: center;
}

.black-ram .nav-bar:hover {
  cursor: url("../images/cursor-pointer.png"), auto;
}

.black-ram .nav-bar a:hover {
  cursor: url("../images/cursor-hand.png"), auto;
}

.black-ram .nav-bar .logo-ram {
  width: 70px;
  border-right: 4px solid black;
  padding: 10px;
}

.black-ram .nav-bar .logo-ram img:hover {
  transform: scale(0.8);
}

.black-ram .nav-bar .site-title {
  font-family: "TrimPosterWebCondensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  font-size: clamp(25px, 5vw, 10px);
}

.black-ram .nav-bar .menu-toggle {
  border-left: 4px solid black;
  width: 70px;
  padding: 10px;
}

.black-ram .nav-bar .menu-toggle img:hover {
  transform: scale(1.4);
}

.black-ram .nav-menu {
  padding: 40px 30px;
}

/*.big-nav h2 {
	border: 5px solid yellow;
}*/

.black-ram .nav-menu .big-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.black-ram .nav-menu .big-nav a {
  margin-bottom: 20px;
}

.black-ram .nav-menu .big-nav h2 {
  font-family: Helvetica;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
  transition: 0.1s;
}

.black-ram .nav-menu .big-nav h2:hover {
  color: #f8384a;
}

.black-ram .ghost {
  display: none;
}

.black-ram .nav-menu .big-nav p {
  display: none;
}

.black-ram .nav-menu .divider {
  width: 300px;
  margin: 40px 0px 20px;
}

.black-ram .nav-menu .small-nav a {
  margin-bottom: 1rem;
}

.black-ram .nav-menu .small-nav p {
  font-size: 1.25rem;
  transition: 0.1s;
}

.black-ram .nav-menu .small-nav p:hover {
  color: #f8384a;
}

@media (min-width: 850px) {
  .black-ram .site-header {
    display: flex;
    gap: 30px;
  }
  .black-ram .nav-bar {
    flex-direction: column-reverse;

    background-color: transparent;
    border-right: 4px solid white;
    width: 80px;
    justify-content: space-between;
  }

  .black-ram .nav-bar .logo-ram {
    border-right: 0px solid black;
    filter: invert(1);
    opacity: 80%;
  }

  .black-ram .nav-bar .site-title-container {
    border-right: 4px solid white;
    border-left: 4px solid white;
    transform: rotate(-90deg);
    width: 350px;
    height: 80px;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .black-ram .nav-bar .site-title {
    color: white;
    opacity: 80%;
  }

  .black-ram .nav-bar .ghost {
    display: block;
    opacity: 0;
  }

  .black-ram .nav-bar .menu-toggle {
    border-left: 0px solid black;
    filter: invert(1);
    opacity: 80%;
  }

  .black-ram .nav-menu .big-nav {
    margin-top: 25px;
  }

  /*.big-nav h2 {
		border: 5px solid yellow;
	}*/

  .black-ram .nav-menu .big-nav h2 {
    font-size: 8vh;
    letter-spacing: -10px;
    display: inline-block;
  }

  .black-ram .nav-menu .big-nav a:hover h2 {
    transform: skewY(5deg);
  }

  .black-ram .nav-menu .big-nav a {
    position: relative;
    margin-bottom: 5px;
  }

  .black-ram .nav-menu .big-nav p {
    display: none;
    font-size: 1.5rem;

    position: absolute;
    top: 25%;
    right: -15%;
  }
  .black-ram .nav-menu .big-nav a:hover p {
    display: inline-block;
    transform: translateX(40%);
  }

  .black-ram .nav-menu .divider {
    width: 300px;
    margin: 40px 0px 30px;
  }

  .black-ram .nav-menu .small-nav {
    /*border: 5px solid yellow;*/
    width: 500px;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
  }

  .black-ram .nav-menu .small-nav a {
    /*border: 5px solid green;*/
    /*display: inline-block;*/
    flex-basis: 50%;
  }

  .black-ram .nav-menu .small-nav p {
    display: inline-block;
    font-size: 1.5rem;
  }

  .black-ram .nav-menu .small-nav p:hover {
  }
}
