
html {
	--black: #111111;
	--white: #efefef;

	--neutral-stuffs: gray;

	--color: #9ec9eb;
	--highlight: #aadee9;

	--shadow: rgba(0,0,0,.8);

	--corners: 10px; /* or whatevers */

	--paper: hsla(48, 60%, 53%, 1.00);
	--ink: hsla(356, 60%, 48%, 1.00);
}

@media (prefers-color-scheme: dark) {
	html {
		--black: #111111;
		--white: #efefef;

		--neutral-stuffs: gray;

		--color: #9ec9eb;
		--highlight: #aadee9;

		--shadow: rgba(0,0,0,.8);

		--corners: 10px; /* or whatevers */
/*
		--paper: red;
		--ink: yellow;*/
	}
}