/* P reset */
@import "preset.css";
/* S etup */
@import "setup.css";
/* S setings */
@import "settings.css";
@import "developer-styles.css";
/* S tructure */
@import "structure.css";
/* T ypography */
@import "typography.css";
/* C omponents */
@import "components.css";
@import "forms.css";
/* S tuff (modules) */
@import "modules.css";

/* S ections and more stuff */
/* then other contextual styles */
body {
  /*background-color: var(--paper);*/
  color: black;
  overflow-x: hidden;
}

.page-content {
  /*background-color: hsla(211, 100%, 35%, 1.00);*/
}

.my-fantastic-image {
  max-width: 300px;
  border-bottom-right-radius: 30px;
}
.ocean {
  height: 5%;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #015871;
  pointer-events: none;
}
.ship {
  width: clamp(300px, 50vw, 600px);
  height: auto;
  position: absolute;
  bottom: 80px;
  left: 50vw;
  animation: rock-boat 9s ease-in-out infinite;
}

@keyframes rock-boat {
  25% {
    transform: rotate(-5deg);
    /*transform: translateY(-25px);*/
  }

  50% {
    transform: rotate(5deg);
    transform: translateY(5px);
  }

  75% {
    transform: rotate(-5deg);
  }
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 100%;
  height: 198px;
  animation: wave 6s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite,
    swell 7s ease reverse -1.25s infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  /*top: -175px;*/
  animation: wave 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  animation-delay: -1s;
  opacity: 1;
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 1600px;
  }
}

svg :is(#flags) {
  animation: flagWave ease-in-out 1s infinite;
}

@keyframes flagWave {
  55% {
    transform: rotateY(2deg);
    transform: translateY(2px);
    /*transform: skew(1deg);*/
  }
}

/*
@keyframes swell {

  0%,
  100% {
    transform: translate3d(0, 25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}*/
