
projects-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	row-gap: 60px;
	margin-top: 80px;
}

project-card {
	display: grid;
	gap: 10px;
	position: relative;
	grid-column: span 12;
}

project-card .tools {
	display: none;
}

project-card a {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 5px 15px;
	background-color: var(--light-color);
}

project-card a:hover {
	background-color: var(--light-highlight);
}

project-card::after,
project-card::before {
	content: "";
	background-color: var(--light-color);
	position: absolute;
	right: -10px;
	bottom: -10px;
}

project-card::after {
	height: 80px;
	width: 3px;
}

project-card::before {
	width: 80px;
	height: 3px;
}

project-card p {
	position: relative;
	left: 10px;
}

project-card p::after {
	content: "";
	background-color: var(--light-color);
	position: absolute;
	left: -10px;
	top: 5px;
	height: 80%;
	width: 3px;
}

@media(min-width: 500px) {
	section.projects-grid .notice-voice {
		max-width: 300px;
		/*grid-column: 2 / end;*/
	}


	project-card {
		display: grid;
		grid-template-columns: repeat(12, 1fr);

	}

	project-card h1 {
		transform: rotate(180deg);
		writing-mode: vertical-lr;
		text-orientation: sideways;
		order: 1;
		grid-column: span 1;

		/*grid-row: span 2 / -1;*/ /*pushing header down*/
	}

	project-card picture {
		order: 2;
		grid-column: span 12;
	}

	project-card p {
		order: 3;
		grid-column: 2 / end;
	}

	project-card a {
		/*display: none;*/
		bottom: 50px;
		/*top: 0px;*/
		left: initial;
		right: 0px;
	}

	project-card::after,
	project-card::before {
		right: -10px;
		bottom: initial;
		top: -10px;
	}
}


@media(min-width: 750px) {
	project-card:nth-of-type(odd) {
		grid-column: span 10;
	}
	project-card:nth-of-type(even) {
		grid-column: 3 / span 10;
		transform: scaleX(-1);

	}
	project-card:nth-of-type(even) > * {
		transform: scaleX(-1);

	}
	project-card:nth-of-type(even) p {
		left:-10px;
	}

}

@media(min-width: 1000px) {

	project-card::after,
	project-card::before {
		display: none;
	}	
	project-card h1 {
		grid-row: span 2;
	}
	project-card picture {
		grid-column: span 10;
		grid-row: span 2;
	}

	project-card p {

		grid-column: span 1;
		left: 25px;
		width: 110px;
	}

	project-card p::after {
		left: -25px;
		top: 0px;
		height: 50%;
		width: 20px;
	}

	project-card a {
		order: 4;
		position: initial;
		grid-column: 12 / 13;
		align-self: end;
		text-align: center;
		padding: 15px 30px;
	}
}