projects-grid {
	display: grid;
	/*grid-template-columns: 1fr 1fr 1fr;*/
	gap: 40px;

	margin-top: 40px;
}


project-card {
	display: grid;
	gap: 10px;
	position: relative;
}

project-card a {
	position: absolute;
	bottom: 0px;
	left: 0px;

	padding: 5px 15px;

	background-color: var(--light-color);
}
project-card a:hover {
	background-color: var(--light-highlight);
}

project-card::after,
project-card::before {
	content: "";
	background-color: var(--light-color);

	position: absolute;
	right: -10px;
	bottom: -10px;
}


project-card::after {
	height: 40px;
	width: 3px;

}
project-card::before {
	width: 40px;
	height: 3px;
}

project-card p {
	position: relative;
	left: 10px;
}
project-card p::after {
	content: "";
	background-color: var(--light-color);

	position: absolute;
	left: -10px;
	top: 5px;

	height: 80%;
	width: 4px;
}