
call-to-action {
	display: block;
	/*border: 4px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12vh 0;

	color: var(--paper);


	text-align: center;

}

call-to-action .button {
	margin-top: 35px;

	font-size: 1.5rem;
}

call-to-action .button .leaf {
	right: -0.8em;
}






.sign-up,
.get-involved {

	mix-blend-mode: darken;
	position: relative;
	z-index: 1;
}

.sign-up::before,
.get-involved::before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: var(--highlight3);
	opacity: 0.5;
	top: 0;
	left: 0;
	z-index: -1;

}


.get-involved {
	background-image: url('../../images/flower-wide.jpg');
	background-image: url('https://source.unsplash.com/random/?marijuana,weed');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}