/* buttons and icons and smaller reusable bits here */

a {
  color: var(--blue);
  font-family: var(--font1);
  line-height: 1.4;
}
a:hover {
  color: var(--green);
  fill: var(--green);
}

@import "forms.css";
