body {
  /*shadier dodgerblue*/
  /* --paper: hsla(209, 90%, 50%, 1); 
  --ink: white; */
}

body * {
  /* border: 1px solid hsla(207, 100%, 80%, 1);
  padding: 4px; */
}

section:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.03);
}

picture img {
  opacity: 0;
}

picture {
  background-color: var(--black);
}
