/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
@import "modules.css";

/* S ections and more stuff */

/* then other contextual styles */
body {
  background-color: var(--paper);
  color: var(--ink);
  overflow: auto;
}

.hide {
  display: none;
}
.hide-opacity {
  opacity: 0;
}

.hover-hide {
  opacity: 0;
}

.hover-hide:hover {
  opacity: 1;
}

@media (max-width: 900px) {
  .hide-below-900 {
    display: none;
  }
}

.circle {
  display: none;
}

.texture {
  background-image: var(--texture);
}

.checkers {
  background-image: var(--checkers);
}

.diagnol {
  background-image: var(--diagnol);
}

.points {
  background-image: var(--points);
}

.garden-menu ul {
  display: flex;
  gap: 10px;
}

main .generic-text:nth-of-type(2) {
  background-color: var(--gray-lighter);
  border-top: 1px solid var(--gray-light);
  border-bottom: 1px solid var(--gray-light);
}
main .generic-text:nth-of-type(2) inner-column {
  padding-top: 80px;
  padding-bottom: 80px;
}

.page-title {
  padding: 60px 10px;
  /* background-color: var(--ink); */
  /* color: var(--paper); */
}
