/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
@import "modules.css";

/* S ections and more stuff */

/* then other contextual styles */
body {
  background-color: var(--paper);
  color: var(--ink);
  overflow: auto;
}

.hide {
  display: none;
}
.hide-opacity {
  opacity: 0;
}

.hover-hide {
  opacity: 0;
}

.hover-hide:hover {
  opacity: 1;
}

@media (max-width: 900px) {
  .hide-below-900 {
    display: none;
  }
}

.circle {
  display: none;
}

.texture {
  background-image: var(--texture);
}

.checkers {
  background-image: var(--checkers);
}

.diagnol {
  background-image: var(--diagnol);
}

.points {
  background-image: var(--points);
}

.garden-menu ul {
  display: flex;
  gap: 10px;
}

:is(.page-title, .last-updated) + .generic-text {
  background-color: var(--gray-lighter);
  border-top: 1px solid var(--gray-light);
  border-bottom: 1px solid var(--gray-light);
}
:is(.page-title, .last-updated) + .generic-text inner-column {
  padding-top: 80px;
  padding-bottom: 80px;
}

.page-title inner-column {
  padding: 60px 10px;
  /* background-color: var(--ink); */
  /* color: var(--paper); */
}
@media (min-width: 900px) {
  .page-title inner-column {
    padding: 70px 10px;
  }
}

.last-updated inner-column {
  padding: 10px;
}

.page-loader {
  position: fixed;
  z-index: 99999999;
  height: 100vh;
  width: 0px;

  opacity: 1;
  /* pointer-events: none; */

  display: grid;
  /* background-color: var(--ink); */
}
.page-loader div {
  border-top: 5px solid var(--ink);
  border-bottom: 5px solid var(--ink);
}
@media (min-width: 900px) {
  .page-loader div {
    border-top: 10px solid var(--ink);
    border-bottom: 10px solid var(--ink);
  }
}

.page-loader .red {
  background-color: var(--red);
}
.page-loader .orange {
  background-color: var(--orange);
}
.page-loader .yellow {
  background-color: var(--yellow);
}
.page-loader .green {
  background-color: var(--green);
}
.page-loader .blue {
  background-color: var(--blue);
}
.page-loader .cyan {
  background-color: var(--cyan);
}
.page-loader .purple {
  background-color: var(--purple);
}

.page-loader .booming-voice {
  display: none;
  --content: "🗣";
}
