/* Should we pull in @fonts here? */
/* don't think you can... might have to be higher up (the top of) the food chain! */

.booming-voice {
	font-family: var(--font1), serif;
	font-size: 40px;
	font-weight: 700;
}

.loud-voice	{
	font-family: var(--font1), sans-serif;
	font-size: clamp(2.25rem, calc(1.66rem + 2.93vw), 3.75rem);


}
@media (min-width: 700px) {
	.booming-voice {
		font-weight: 700;
		font-size: clamp(4.00rem, calc(3.61rem + 1.95vw), 5.00rem);
		/* or variable font */
	}
	
}

.attention-voice	{
	font-family: var(--font1), serif;
	font-weight: 300;
	font-size: clamp(1.50rem, calc(1.30rem + 0.98vw), 2.00rem);
	font-style: italic;
}

.notice-voice {
	font-family: var(--font2), sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}
@media (min-width: 700px) {
	.notice-voice {
		font-size: 1.2rem;
	}
}
.solid-voice {
	font-family: var(--font2), sans-serif;
	font-size: 14px;
	font-weight: 900;
}



.firm-voice {
	font-family: var(--font2), sans-serif;
	font-size: 0.9rem;
	line-height: 1.4;
	text-transform: uppercase;
	font-weight: 700;

}

.calm-voice,
p,
li {
	font-family: var(--font1), sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	word-wrap: break-word;
}

:is(.calm-voice, p) em {
	font-style: italic;
}

:is(.calm-voice, p) strong {
	font-weight: 700;
}

.whisper-voice {
	font-family: var(--font1), sans-serif;
	font-size: 10px;
	line-height: 1.5;
	word-wrap: break-word;
}

.teaser-voice {
	font-family: var(--font2), sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}


/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
/* or smaller group of article-like styles such as a <text-content> custom element */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 20px;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
