@import 'meyers-reset.css';
@import 'setup.css';
@import '../common-style.css';








/**Sections******/





.b-svg {

	left: -500px;
	top: -50px;
	height: 1200px;	
}







.j-svg {
	right: -175px;
	top: 0;
	height: 1000px;

	

}








#svg-link-goals,
#svg-link-about,
#svg-link-projects {
	fill: var(--highlight);
	stroke-width: 0px;
	
}





.j-svg #webdev-word {
	font-family:'Newsreader';
	font-size: 19px;

	
}


#webdev-word {
	transition: 0.1s;
	stroke-width: 0px;
}

.j-svg #j-letter:hover + #webdev-word {
	font-weight: 900;
	/*font-style: italic;*/
	fill: var(--highlight1);


}

#webdev-word:hover {
	font-weight: 900;
	/*font-style: italic;*/
}


@media (min-width: 800px){


	

	.b-svg {
		left: -550px;
		top: -150px;
		height: 1200px;

	}

	.j-svg {

		right: -195px;
		top: -200px;
		height: 1300px;
		
	}

}

@media (min-width: 1700px){

	.b-svg {

		left: -880px;
		top: -150px;
		height: 2000px;

	}

	.j-svg {
		position: fixed;
		right: -190px;
		top: -200px;
		height: 2000px;

	}

}




@keyframes bletter {
	0% {
		transform: translate(-10px, 10px);
		stroke: var(--highlight);
	}

	25% {
		stroke: var(--highlight1);
	}

	50% {
		transform: translate(10px, -10px);
		stroke: var(--head2);
	}

	75% {
		stroke: var(--head1);
	}

	100% {
		transform: translate(-10px, 10px);
		stroke: var(--highlight);
	}
}

@keyframes jletter {
	0% {
		transform: translate(10px, -10px);
		stroke: var(--highlight);
	}

	25% {
		stroke: var(--highlight1);
	}

	50% {
		transform: translate(-10px, 10px);
		stroke: var(--head2);
	}

	75% {
		stroke: var(--head1);
	}
	
	100% {
		transform: translate(10px, -10px);
		stroke: var(--highlight);
	}
}
















