/* buttons and icons and smaller reusable bits here */

input-field.list {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
}

input-field {
	display: grid;
	gap: 10px;
}

input,
button {
	padding: 10px;
}

button.remove-list {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	border-radius: 0 0 0 5px;
	font-size: 10px;
	/*background-color: hsla(0, 39%, 60%, 1);*/
}

button {
	cursor: pointer;
	background-color: hsla(144, 39%, 76%, 1);
	border-radius: 5px;
}
button.remove {
	background-color: hsla(0, 39%, 60%, 1);
}

input.edit-text {
	padding: 0;
	font-size: inherit;
	border: none;
	margin: 0;
	outline: 1px solid black;
	background-color: var(--paper);
}
