/* buttons and icons and smaller reusable bits here */

input-field {
	display: grid;
	gap: 5px;
}


input-field.list {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
}


todo-list input-field {
	display: grid;
	grid-template-columns: 0.8fr 0.2fr;
}

todo-list label {
	grid-column: span 2;
}

input {
	background-color: var(--paper);
	padding: 10px;
	border: 1px solid var(--neutral);
	border-radius: var(--corners);
	color: var(--ink);
}

input.edit-text {
	padding: 0;
	border: none;
	font-family: inherit;
	font-size: inherit;
	text-align: inherit;
	justify-self: center;
	outline: 1px dotted var(--ink);
	background-color: inherit;
	color: var(--ink);
}


button {
	cursor: pointer;
	background-color: var(--color);
	border-radius: var(--corners);
	padding: 10px;
}

button:hover {
	background-color: var(--highlight);
}


/*remove button*/
.remove-list,
.remove {
	position: absolute;
	background-color: transparent;
	padding: 0;
	transform: rotate(20deg);
}

:is(.remove-list, .remove):hover,
:is(.remove-list, .remove):focus {
	background-color: transparent;
	transform: rotate(540deg) scale(1.2);
}

.remove-list {
	top: -6px;
	right: -1px;
}

.remove {
	top: 10px;
	right: 10px;
}

button picture {
	width: 20px;
}

button svg {
	overflow: visible;
	stroke: var(--highlight);
	stroke-width: 10;
	stroke-linecap: round;
}

/*complete button*/
button.complete {
	background-color: transparent;
	border-radius: 50%;
	border: 1px solid var(--ink);
	position: relative;

}

todo-card.complete button.complete::after {
	content: "";
	border-radius: inherit;
	padding: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--highlight);
}

@media(min-width: 800px) {
	.remove {
		display: none;
	}

	todo-card:hover button.remove {
		display: block;
	}
}