/* buttons and icons and smaller reusable bits here */

input-field.list {
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
}

input-field {
	display: grid;
	gap: 10px;
}

input {
	background-color: var(--paper);
	padding: 10px;
	border: 1px solid var(--neutral);
	border-radius: var(--corners);
}

.edit-text {
	padding: 0;
	font-size: inherit;
	
	margin: 0;
	outline: 1px solid black;
	background-color: var(--paper);
	color: var(--ink);
}


button {
	cursor: pointer;
	background-color: var(--color);
	border-radius: var(--corners);
	padding: 10px;
}
.remove {
	background-color: var(--highlight);
}


.remove-list {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 0 0 var(--corners);
	font-size: 10px;
	padding: 5px;
}

button.remove-list picture {
	width: 	15px;
}

button.remove-list svg {
	overflow: visible;
	stroke: var(--highlight);
	stroke-width: 10;
	stroke-linecap: round;
}
button.remove-list:hover svg {
	stroke: var(--paper);
}