

html {

	--standard: 1140px;
	--tight: 800px;
	--wide: 1400px;


	--black: #111111;
	--white: #efefef;

	--neutral: hsla(53, 38%, 76%, 1.00);

	--color: hsla(144, 40%, 76%, 1);
	--color-light: hsla(144, 40%, 90%, 1);
	--highlight: hsla(210, 40%, 50%, 1.00);

	--shadow: rgba(0,0,0,.8);

	--corners: 5px; /* or whatevers */
	--paper2: white;
	--paper: var(--white);
	--ink: var(--black);

}

@media (prefers-color-scheme: dark) {
	html {
		--black: #111111;
		--white: #efefef;

		--neutral: hsla(53, 38%, 76%, 1.00);

		--color: hsla(144, 40%, 40%, 1);
		--color-light: hsla(144, 40%, 20%, 1);
		--highlight: hsla(210, 40%, 40%, 1.00);

		--shadow: rgba(0,0,0,.8);

		--corners: 5px; /* or whatevers */

		--paper: hsla(217, 6%, 17%, 1.00);
		--paper2:  hsla(217, 8%, 13%, 1.00);
		--ink: hsla(0, 0%, 96%, 1.00);
	}
}