/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";
@import "forms.css";

/* S tuff (modules) */
@import "modules.css";

/* S ections and more stuff */
@import "animation.css";

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

.hide {
	display: none;
}

todo-app {
	display: flex;
	gap: 10px;
	background-color: var(--paper);
	align-items: start;

	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

todo-list {
	/* 	outline: 3px solid blue; */
	padding: 15px;
	background-color: var(--paper2);
	position: relative;
	display: grid;
	gap: 20px;
	align-content: center;
	border-radius: var(--corners);
	overflow: hidden;
	min-width: 90vw;
	scroll-snap-align: center;
}

todo-list output-field ul {
	display: grid;
	gap: 20px;
	justify-items: space-between;
}

todo-card {
	/*outline: 2px solid black;*/
	background-color: var(--paper);
	padding: 10px;
	display: grid;
	gap: 10px;
	border-radius: var(--corners);
	/*min-width: 300px;*/
}

todo-card.complete {
	opacity: 0.5;

}
todo-card.complete h3.calm-voice {
	text-decoration: 3px wavy line-through hsla(0, 100%, 50%, 1);
}

@media(min-width: 660px) {
	todo-app {
		overflow-x: initial;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


	}
	todo-list {
		min-width: initial;
	}
}