projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--space-2xl);
  margin-top: var(--space-3xl);
}

project-card {
  display: grid;
  gap: var(--space-2xs);
  position: relative;
  /* grid-column: span 12; */
  z-index: 5;
}
project-card .calm-voice {
  font-size: 0.9rem;
}

project-card picture {
  aspect-ratio: 1.91/1;
}
project-card picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

project-card .tools {
  display: none;
  gap: var(--space-2xs);
  position: absolute;
  bottom: 0;
  right: 0px;
}
/*project-card .tools li {
	position: relative;
	border-radius: 50%;
	background-color: var(--highlight);
	padding: 20px;
	font-size: 12px;
}
project-card .tools li span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}*/
project-card .button {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

project-card::after,
project-card::before {
  content: "";
  background-color: var(--highlight);
  position: absolute;
  right: -10px;
  bottom: -10px;
}

project-card::after {
  height: 80px;
  width: 3px;
}

project-card::before {
  width: 80px;
  height: 3px;
}

project-card p {
  position: relative;
  left: 10px;
}

project-card p::after {
  content: "";
  background-color: var(--highlight);
  position: absolute;
  left: -10px;
  top: 5px;
  height: 80%;
  width: 3px;
}
