


call-to-action {
	display: block;
	/*border: 4px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	/*padding: 12vh 0;*/

	color: var(--paper);


	text-align: center;
	/*min-height: 50vw;*/

}

call-to-action .button {
	margin-top: 35px;

	font-size: 1.5rem;
}

call-to-action .button .leaf {
	right: -0.8em;
}

call-to-action picture {
	width: 100%;
	height: 100%;
}




/*.sign-up,
.get-involved {

	mix-blend-mode: darken;
	position: relative;
	z-index: 1;
}

.sign-up::before,
.get-involved::before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: var(--highlight3);
	opacity: 0.5;
	top: 0;
	left: 0;
	z-index: -1;

}
*/

.sign-up {


	background-color: var(--paper);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.sign-up .image-grid,
.sign-up .third-cta-img {
	display: none;
}


.get-involved call-to-action > picture {
	display: none;
}

.get-involved .image-grid {
	display: grid;
	display: grid;
		grid-template-columns: repeat(4, 1fr);
	    grid-template-rows: repeat(2, 1fr);
}






.third-cta .first-cta,
.third-cta .image-grid {
	display: none;
}





















