<%- include('../partials/header.ejs') %>

	<inner-column>
		<h1 class="loud-voice">404: Page not Found</h1>
<h2 class="attention-voice"><span style="color: salmon"><%= query %></span> doesnt exist!</h2>
	</inner-column>
<%- include('../partials/footer.ejs') %>
