


.calendy-module {
	padding: 50px 15px;
	overflow-x: hidden;
}
calendy,
description,
stuff,
calender {
	display: block;

}


.calendy-module .attention-voice {
	color: hsla(141, 39%, 77%, 1.00);
    text-shadow: 1px 1px #2d414c;
    padding-bottom: 20px;
    font-size: 50px;

}

.calendy-module .engage-voice {
	margin: 0;
}



.calendy-module .calm-voice {
	font-size: 14px;
	margin: 0;
}

.calendy-module,
calendy {
	/*background-color: hsla(194, 35%, 59%, 0.95);*/
	background-image: url("../images/snow-mountain-wide.jpg");
	background-position: center;


}

calendy * {
	/* 	border: 5px solid black; */
	padding: 5px;
	transition: 0.2s;
	border-radius: 10px;
	text-align: center;
}





/*BKG COlors*/
calendy header {
	background-color: hsla(142, 38%, 77%, 0.95);
	padding: 15px 5px;
	box-shadow: 1px 1px 1px 1px #2d414c;
}

calendy calender {
	background-color: hsla(203, 26%, 55%, 0.85);
	padding: 15px;
	margin: 0;
	box-shadow: 1px 1px 1px 1px #2d414c;

}

calendy p {
	background-color: hsla(141, 39%, 77%, 0.95);


}

calendy description h2 {
	background-color: hsla(141, 39%, 77%, 0.95);
}

calendy description nav section {
	background-color: hsla(182, 26%, 79%, 0.95);
}
calendy .logo {
	font-size: 40px;
}

calendy calender p {
	height: 60%;
}

calender {
	display: flex;
	flex-direction: column;
	/*justify-content: space-around;*/
		gap: 15px;
}

/*small screen setup*/

calendy description {
	background-color: hsla(202, 25%, 25%, 0.5);
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin: 0;
	gap: 15px;
	box-shadow: 1px 1px 1px 1px hsla(202, 25%, 0%, 0.95);


}

calendy .all {
	display: flex;
	flex-direction: column;
	width: 100%;
	/*border: 1px solid yellow;*/
	background-color: background-color: hsla(275, 100%, 96%, 0.95);
	padding: 0;
	margin: 0;
	gap: 5px;
}

calendy nav,
calendy {
	display: flex;
	flex-direction: column;
	gap: 5px;

}


.breathe-box-outer-c {
	display: none;
}

/*breakpoint 1*/

@media (min-width: 500px) {
	calendy .all {
		flex-direction: row;
	}

	calendy calender,
	calendy description {
		width: 50%;
	}

	.breathe-box-outer-c {
		display: block;
	}

	
}

/*breakpoint 2*/
@media (min-width: 750px) {
	calendy nav,
	calendy {
		flex-direction: row;
	}

	calendy nav section {
		/* 		width: 50%; */
	}

	calendy description {
		flex-direction: column;
		align-items: center;
	}
	calendy > header:hover,
	.all > *:hover {
		transform: scale(1.2);

	}
}


@media (min-width: 1200px) {
	calendy {
		min-height: 600px;
	}

	calendy description {

		/*justify-content: space-between;*/
	}
}







calendy,
.breathe-box {
	position: relative;
}

.breathe-box-outer-a {
	position: absolute;
	/*width: 100%;*/
	top: -100px;
	left: -15vw;
	width: 15vw;
	opacity: 0.5;
}

.breathe-box-outer-b {
	position: absolute;
	/*width: 100%;*/
	top: -180px;
	right: -5vw;
	width: 300px;
	opacity: 0.8;
}

.breathe-box-outer-c {
	position: absolute;
	/*width: 100%;*/
	bottom: 150px;
	right: -10vw;
	width: 15vw;
	opacity: 1;
}

.breathe-box.cloud {
	display: block;
}

.breathe-box.cloud img {
	display: block;
	width: 100%;
	height: auto;
}


@keyframes breatha {
	0% {
		transform: translate(5px, -5px);
	}
	50% {
		transform: translate(-5px, 5px);
	}

	100% {
		transform: translate(5px, -5px);
	}
}

@keyframes breathb {
	0% {
		transform: translate(-5px, 5px);
	}
	50% {
		transform: translate(5px, -5px);
	}
	100% {
		transform: translate(-5px, 5px);
	}
}

@keyframes breathc {
	0% {
		transform: translate(-5px, -5px);
	}
	50% {
		transform: translate(5px, -5px);
	}
	100% {
		transform: translate(-5px, -5px);
	}
}

.cloud-a {
	position: absolute;
	max-width: 80vw;
	animation: 3s breatha infinite ease-in-out;
	opacity: 0.5;
}

.cloud-b {
	position: absolute;
	max-width: 80vw;
	animation: 3s breathb infinite ease-in-out;
	opacity: 0.5;
}

.cloud-c {
	position: absolute;
	max-width: 80vw;
	animation: 3s breathc infinite ease-in-out;
	opacity: 0.5;
}
