footer {
  padding: 200px 0;
  position: relative;
  overflow: hidden;
}
footer .circle {
  fill: var(--color);
  position: absolute;
  top: 0px;
  right: initial;
  left: -200px;
  display: block;
  z-index: 1;
  /*		transition: 0.2s;*/
}

@media (min-width: 1320px) {
  footer .circle {
    top: 0px;
    right: -200px;
    left: initial;
    display: block;
    width: 800px;
  }
}
@media (min-width: 2000px) {
  footer {
    overflow: initial;
  }
  footer .circle {
    top: initial;
    bottom: 0px;
    right: -200px;
    left: initial;
    display: block;
    width: 600px;
  }
}

/* media rule for non phones */
/* @media (min-height: 890px) and (min-width: 500px) {
  footer .site-menu {
    display: none;
  }
} */
