footer {
  padding: calc(1.5 * var(--space-3xl)) 0;
  position: relative;
  overflow: hidden;
}
footer .circle {
  fill: var(--color);
  position: absolute;
  top: 0px;
  right: initial;
  left: -200px;
  display: block;
  z-index: 1;
  /*		transition: 0.2s;*/
}

@media (min-width: 1320px) {
  footer .circle {
    top: 25%;
    left: 50%;
    left: initial;
    display: block;
    width: 150vw;
  }
}
@media (min-width: 2000px) {
  footer .circle {
    animation: float 5s ease-in-out infinite alternate;
  }

  .project-page footer {
    max-height: 20vh;
    overflow: hidden;
  }
}

/* media rule for non phones */
/* @media (min-height: 890px) and (min-width: 500px) {
  footer .site-menu {
    display: none;
  }
} */
