footer {
  --ink: var(--green);
  color: var(--ink);
  background-color: var(--black);

  font-family: monospace;
  font-size: 14px;
}

footer inner-column {
  padding: 80px 10px;
}

footer .menus {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer a {
  --ink: var(--green);
  color: var(--ink);
  font-family: monospace;
  padding: 5px;
  text-decoration: underline;
  font-size: 14px;
}

footer .hide {
  display: inline;
}
