header {
  position: relative;
}

header .menus {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  border-bottom: 1px solid var(--gray-light);
  background-color: var(--paper);
}

header .menus inner-column {
  display: grid;
  gap: 20px;
  padding: 10px;
}

header .site-menu {
  order: 2;
}

header ul {
  display: flex;
  /* gap: 10px; */
}

header a {
  white-space: nowrap;
  position: relative;
  color: var(--ink);
  padding: 5px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

header a.active {
  color: var(--light-color);
}

header a.active::after {
  content: "";
  display: block;
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 10px;
  background: var(--ink);

  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}

header .circle {
  display: block;
  max-width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.pe-circle {
  display: inline;
  max-width: 16px;
  position: relative;
  top: 3px;
}

@media (min-width: 550px) {
  header a {
    padding: 5px 15px;
  }

  header .circle {
    max-width: 30px;
  }

  header .menus inner-column {
    grid-template-columns: 1fr 1fr;
  }

  header .site-menu ul {
    justify-content: end;
  }
}

@media (min-width: 750px) {
  header .circle {
    top: 12px;
    right: 50%;
  }
}
