
graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 30px;
	

	align-items: center;
	justify-content: center;


	position: relative;



}





graphic-diptych p {
	margin-top: 20px;
	font-size: 1.3rem;
}




graphic-diptych text-content p {

		margin-top: 40px;

	}




graphic-diptych text-content {
	color: var(--weed-white);
	text-align: center;
	
}


graphic-diptych .button {
    padding: 15px 30px;
    font-size: 20px;
}


