@import 'meyers-reset.css';
@import 'setup.css';

/**Clarity**/

/*body {
	border: 5px solid red;
}

body * {
	border: 5px solid black;
	margin: 5px;
}

body > * {
	border-color: blue;
}

body > * > * {
	border-color: forestgreen;

}*/







/**STRUCTURE******/

body {
	background-color: wheat;
	padding: 15px;
}


.inner-column {
	max-width: 80ch;
	margin: 0 auto;
}

/**TYPOGRAPHY******/





/**Sections******/