
html {
	--black: #111111;
	--white: #efefef;

	--neutral-stuffs: gray;

	--color: #9ec9eb;
	--highlight: #aadee9;

	--shadow: rgba(0,0,0,.8);

	--corners: 10px; /* or whatevers */

	

	--standard: 1140px;
	--tight: 800px;








	/*marijuana colors*/
	--weed-black: hsla(120, 100%, 7%, 1.00);
	--weed-white: hsla(120, 100%, 95%, 1.00);
	--weed-primary-color: hsla(154, 100%, 42%, 1.00);
	--weed-primary-color-dark: hsla(147, 49%, 37%, 1.00);
	--weed-secondary-color: hsla(29, 49%, 46%, 1.00);


	--paper: var(--weed-white);
	--ink: var(--weed-black);
	--color: var(--weed-primary-color);
	--highlight: var(--weed-primary-color-dark);
}

@media (prefers-color-scheme: dark) {
	html {
		--paper: var(--weed-black);
		--ink: var(--weed-white);
		--color: var(--weed-primary-color-dark);
		--highlight: var(--weed-primary-color);
	}
}
