
articles-intro {
	display: block;
	/*border: 4px solid purple;*/
	padding: 10vh 0;
	
}

@media(min-width: 800px ){
	articles-intro {
		background-image: url('../leaf.svg');
		background-size: 90%;
		background-position: center center;
		background-repeat: no-repeat;
	}
}

articles-intro header {
	
}

article-grid {
	display: block;
	margin-top: 60px;
}

article-grid ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-gap: 60px 20px;
}
