.layout1 {
	border-top: 3px solid var(--color-dark);
	
}

.layout1 layout-module {
	display: grid;
	gap: 40px;
}

.layout1 layout-header {
	max-width: 70ch;
}

.layout1 .image-grid {
	display: grid;
	gap: 15px;
}

.layout1 layout-card {
	/*background-color: wheat;*/
	border-top: 3px solid grey;
	padding: 20px 0;
}

/*break point 1 - medium*/
@media (min-width: 650px) {
	.layout1 .card-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px;
	}

	.layout1 .image-grid {
		grid-template-columns: 1fr 1fr;
	}


}

/*breakpoint 2 - large*/
@media (min-width: 1100px) {
	.layout1 layout-module {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}

	.layout1 layout-header {
		grid-column: 1 / 2;
	}

	.layout1 .card-list {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.layout1 .image-grid {
		grid-row: 2 / 3;
	}
}