resume-section > h2 {
  mix-blend-mode: multiply;
}

resume-card {
  background-image: linear-gradient(90deg, var(--highlight), var(--paper));
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;

  gap: 5px;
}

resume-card li {
  list-style: circle;
  list-style-position: inside;
}

resume-card blockquote {
  font-size: 0.8rem;
  color: var(--ink);
  background-image: linear-gradient(90deg, var(--shade), var(--paper));
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}
