resume-section > h2 {
  mix-blend-mode: multiply;
}

resume-card {
  background-image: var(--gradient-highlight);

  border-radius: var(--corners);
  padding: var(--space-xs);
  margin: var(--space-xs) 0;

  gap: var(--space-3xs);
}

resume-card li {
  list-style: circle;
  list-style-position: inside;
}

resume-card blockquote {
  font-size: 0.8rem;
  color: var(--paper);
  background-image: var(--gradient-color);

  border-radius: var(--corners);
  padding: var(--space-xs);
  margin: var(--space-xs) 0;
}
