/* P reset */
@import 'preset.css';

/* S etup */
@import 'setup.css';

/* S setings */
@import 'settings.css';
@import 'developer-styles.css';

/* S tructure */
@import 'structure.css';

/* T ypography */
@import 'typography.css';

/* C omponents */
@import 'animation.css';
@import 'components.css';
@import 'forms.css';

/* S tuff (modules) */
@import 'modules.css';

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--paper);
	background-image: url('https://media.discordapp.net/attachments/549703400791605260/1019094503904247828/unknown.png');
	background-image: url('../stars.gif');
	background-size: contain;
	background-position: right center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	overflow-x: hidden;

	padding-bottom: 250px;
}
@media (max-width:  925px){
	body {
		background-size: cover;
	background-position: center center;
	}
}
.my-fantastic-image {
	max-width: 300px;
	border-bottom-right-radius: 30px;
}


