.theme-menu {
	background-color: var(--light-color);
	position: absolute;
	border-radius: 50%;
	right: 0%;
	bottom: 5%;
	padding: 100px;
	transform: scale(0.95);


}
.theme-menu ul {
	display: grid;
	gap: 5px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}