image-grid {
	display: block;
	/*border: 1px solid red;*/
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-bottom: 200px;
}

image-grid picture {
	max-width: 300px;
	max-height: 200px;
	display: flex;
	align-items: center;
	transform: skewY(2deg);
}

.flag {
	position: relative;
	/*margin: 50px auto;*/
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15)
}

.flag img {
	/*  width: 400px;
  height: 250px*/
}

.flag::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, rgba(0, 0, 0, .25) 0%, rgba(255, 255, 255, .25) 15%, rgba(0, 0, 0, .25) 30%, rgba(255, 255, 255, .25) 45%, rgba(0, 0, 0, .25) 60%, rgba(255, 255, 255, .25) 75%, rgba(0, 0, 0, .25) 90%);
}

/****************** Wobble Top */


@keyframes hvr-wobble-top {
	16.65% {
		-webkit-transform: skewY(-12deg);
		transform: skewY(-10deg);
	}

	33.3% {
		-webkit-transform: skewY(10deg);
		transform: skewY(8deg);
	}

	49.95% {
		-webkit-transform: skewY(-6deg);
		transform: skewY(-4deg);
	}

	66.6% {
		-webkit-transform: skewY(4deg);
		transform: skewY(2deg);
	}

	83.25% {
		-webkit-transform: skewY(-2deg);
		transform: skewY(-1deg);
	}

}

.hvr-wobble-top {




	transform-origin: 5% 100% ;
}

.hvr-wobble-top:hover,
.hvr-wobble-top:focus,
.hvr-wobble-top:active {
	-webkit-animation-name: hvr-wobble-top;
	animation-name: hvr-wobble-top;
	-webkit-animation-duration: 1s;
	animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}