@import "colors.css";

html {
  /* inner column width */
  --standard: 1140px;
  --tight: 800px;
  --wide: 1400px;

  /* Textures */

  --texture: url(../images/texture.png);

  --checkers: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 8 8'%3E%3Cg fill='%23000000' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");

  --diagnol: url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

  --points: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

  /* Borders and Lines */
  --line-width-thin: 2px;
  --line-width-thick: 5px;
  --corners: 10px; /* or whatevers */
  --border: var(--line-width-thin) solid var(--ink);

  /* Shadows */
  --shadow: rgba(0, 0, 0, 0.8);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1500,16,1.5,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
  --space-2xs: clamp(0.5rem, 0.5rem + 0vw, 0.5rem);
  --space-xs: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
  --space-s: clamp(1rem, 1rem + 0vw, 1rem);
  --space-m: clamp(1.5rem, 1.5rem + 0vw, 1.5rem);
  --space-l: clamp(2rem, 2rem + 0vw, 2rem);
  --space-xl: clamp(3rem, 3rem + 0vw, 3rem);
  --space-2xl: clamp(4rem, 4rem + 0vw, 4rem);
  --space-3xl: clamp(6rem, 6rem + 0vw, 6rem);
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  html {
    /* --ink: var(--white); */
    /* --paper: var(--black); */

    /* --color: var(--ink); */
    /* --highlight: hsla(3, 50%, 53%, 1);  */
    /* --color-tertiary: hsla(30, 65%, 71%, 1);  */
  }
}
