html {
  --standard: 1140px;
  --tight: 800px;
  --wide: 1400px;

  /* colors */
  --hue: 3;

  --black: hsla(0, 0%, 10%, 1);
  --white: hsla(calc(var(--hue) + 44), 11%, 85%, 1);

  --paper: var(--white);
  --ink: var(--black);

  --gray: hsla(var(--hue), 0%, 50%, 1);
  --gray-light: hsla(var(--hue), 0%, 65%, 1);
  --gray-lighter: hsla(var(--hue), 0%, 80%, 1);

  --gray-dark: hsla(var(--hue), 0%, 35%, 1);
  --gray-darker: hsla(var(--hue), 0%, 20%, 1);

  --color: hsla(var(--hue), 60%, 31%, 1); /*also for bold*/
  --color-light: hsla(var(--hue), 60%, 41%, 1);
  --color-lighter: hsla(var(--hue), 60%, 56%, 1);
  --color-lightest: hsla(var(--hue), 60%, 70%, 1);

  --color-dark: hsla(var(--hue), 60%, 25%, 1);
  --color-darker: hsla(var(--hue), 60%, 20%, 1);
  --color-darkest: hsla(var(--hue), 60%, 15%, 1);

  --highlight: hsla(calc(var(--hue) + 27), 60%, 71%, 1);
  --highlight-light: hsla(calc(var(--hue) + 27), 60%, 81%, 1);
  --highlight-lighter: hsla(calc(var(--hue) + 27), 60%, 91%, 1);
  --highlight-lightest: hsla(calc(var(--hue) + 27), 60%, 96%, 1);

  --highlight-dark: hsla(calc(var(--hue) + 27), 60%, 61%, 1);
  --highlight-darker: hsla(calc(var(--hue) + 27), 60%, 51%, 1);
  --highlight-darkest: hsla(calc(var(--hue) + 27), 60%, 41%, 1);

  --color-tertiary: var(--color-lighter); /*//also for italics*/

  --success: hsla(calc(var(--hue) + 160), 85%, 50%, 1);
  --warning: hsla(calc(var(--hue) / var(--hue)), 85%, 50%, 1);

  /* Gradients */
  --gradient-direction: 90deg;

  --gradient-dark: linear-gradient(
    var(--gradient-direction),
    var(--ink),
    var(--gray-dark)
  );

  --gradient-light: linear-gradient(
    var(--gradient-direction),
    var(--gray-light) 35%,
    var(--white)
  );

  --gradient-color: linear-gradient(
    var(--gradient-direction),
    var(--color) 35%,
    var(--paper)
  );

  --gradient-color-dark: linear-gradient(
    var(--gradient-direction),
    var(--ink) 35%,
    var(--color)
  );

  --gradient-highlight: linear-gradient(
    var(--gradient-direction),
    var(--highlight),
    var(--paper)
  );

  /* Textures */
  --brick-wall: url("https://www.transparenttextures.com/patterns/brick-wall.png");

  --texture: url(../images/texture.png);

  --checkers: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 8 8'%3E%3Cg fill='%23000000' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");

  --diagnol: url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

  --points: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

  /*  */

  --shadow: rgba(0, 0, 0, 0.8);

  --corners: 10px; /* or whatevers */

  /* typography */

  --font1: "Newsreader", serif;
  --font2: "Lato", sans-serif;

  --step--2: clamp(0.63rem, calc(0.71rem + -0.08vw), 0.69rem);
  --step--1: clamp(0.83rem, calc(0.83rem + 0.01vw), 0.84rem);
  --step-0: clamp(1rem, calc(0.97rem + 0.16vw), 1.13rem);
  --step-1: clamp(1.2rem, calc(1.13rem + 0.37vw), 1.5rem);
  --step-2: clamp(1.44rem, calc(1.3rem + 0.7vw), 2rem);
  --step-3: clamp(1.73rem, calc(1.49rem + 1.17vw), 2.66rem);
  --step-4: clamp(2.07rem, calc(1.7rem + 1.85vw), 3.55rem);
  --step-5: clamp(2.49rem, calc(1.93rem + 2.81vw), 4.74rem);
  --step-6: clamp(2.99rem, calc(2.16rem + 4.16vw), 6.31rem);
  --step-7: clamp(3.58rem, calc(2.38rem + 6.04vw), 8.41rem);

  --weight-light: 200;
  --weight-medium: 500;
  --weight-heavy: 800;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  html {
    --ink: var(--white);
    --paper: var(--black);

    --color: var(--ink);
    --highlight: hsla(3, 50%, 53%, 1); /*using dark-highlight*/
    --color-tertiary: hsla(30, 65%, 71%, 1); /*//using light-highlight*/
  }
}
