html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  scroll-margin-top: 200px;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */

a {
  display: block;
  text-decoration: none;
}

p a,
li a {
  display: inline-block;
  font-size: inherit;
}

p a.text {
  padding: 0 !important;
  /* white-space: nowrap; */
}

picture {
  display: block;
  overflow: hidden;
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
}

text-content {
  display: block;
}

code {
  display: block;
}

:is(p, li) > code {
  display: inline;
}

:where(:not(:defined)) {
  display: grid;
}
