
html {
  box-sizing: border-box;
	scroll-behavior: smooth;
	
}
*, *:before, *:after {
  box-sizing: inherit;
  scroll-margin-top: 200px;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */

a {
	display: block;
	text-decoration: none;
}

p a,
li a {
	display: inline;
}

picture {
	display: block;
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
  display: block;
  width: 100%;

}
text-content {
	display: block;
}


code {
    display: block;
    background-color: black;
    padding: 10px;
}

:where(:not(:defined)) {
	display: grid;
}
