@import "site-menu.css";
@import "theme-menu.css";

.garden-menu ul {
  display: flex;
  gap: var(--space-2xs);
}

.menu-module {
  position: relative;
  grid-column: 2 / 10;
}
.menu-module inner-column {
  padding-bottom: 50px;
}
.project-menu ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));

  justify-content: center;
  gap: var(--space-2xs);
}

.project-menu a {
  /* white-space: nowrap; */
  border-radius: 50%;
  aspect-ratio: 1 /1;
  display: grid;
  place-items: center;
  background-color: var(--highlight);
  padding: var(--space-xs);
  /* position: absolute; */
  transition: 0.2s;
  --top: 0px;
  --right: 0px;
  text-align: center;
}

.project-menu a:hover {
  background-color: var(--color-tertiary);
  color: var(--highlight);
}
