.site-menu {
  background-color: var(--highlight);
  position: absolute;
  border-radius: 50%;
  left: -5%;
  top: 10%;
  padding: var(--space-3xl);
  transform: scale(1.1);
  transition: 0.3s;
  z-index: 3;
}
.site-menu ul {
  display: grid;
  gap: var(--space-3xs);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-menu a:hover {
  text-decoration: underline;
}

.site-menu a.active {
  text-decoration: line-through;
  text-decoration-style: double;
}

/*animation*/
.site-menu::after,
.site-menu::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--highlight);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s;
}

.site-menu:hover::after {
  animation: blob infinite 15s ease-in-out alternate-reverse;
  /*animation-delay: -5s;*/
  /*top: 5px;*/
}
.site-menu:hover::before {
  animation: blob infinite 25s linear alternate;
  /*top: -5px;*/
}

@media (min-width: 750px) {
  .site-menu {
    position: absolute;
    left: initial;
    right: 7vw;
    top: 40px;
  }
  footer .site-menu {
    top: 100px;
    right: 2vw;
  }
  header .site-menu {
    right: 2vw;
  }
}

@media (min-width: 1000px) {
  .site-menu {
    background-color: initial;
  }
  header .site-menu,
  footer .site-menu {
    right: 4vw;
  }
  .site-menu::after,
  .site-menu::before {
    display: none;
  }

  .site-menu a {
    background-color: var(--highlight);
    border-radius: 50%;
    padding: var(--space-xl);
    position: absolute;
    transition: background-color color 0.3s;
  }

  /* home  */
  .site-menu li:nth-of-type(1) a {
    right: 20px;
    top: -70px;
    transform: scale(1.2);
    animation: float 6s ease-in-out infinite;
  }

  /* about */
  .site-menu li:nth-of-type(2) a {
    right: -70px;
    top: -95px;
    transform: scale(0.85);
    animation: float 4s -2s ease-in-out infinite;
  }

  /* projects */
  .site-menu li:nth-of-type(3) a {
    right: -100px;
    top: -20px;
    animation: float 6s -4s ease-in-out infinite;
  }

  /* style guide */
  .site-menu li:nth-of-type(4) a {
    right: -20px;
    top: 20px;
    transform: scale(1.1);
    animation: float 8s -4s ease-in-out infinite;
  }

  .site-menu a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }

  .site-menu a:hover {
    background-color: var(--color-tertiary);
    color: var(--highlight);
  }

  .site-menu a.active {
    background-color: var(--color);
    outline: 5px solid var(--highlight);
    color: var(--highlight);
  }
  /*animation*/
  .site-menu a::after,
  .site-menu a::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

    border-radius: 50%;
    z-index: -10;
    transition: 0.3s;
  }

  .site-menu a:hover::after {
    background-color: var(--color-tertiary);
    animation: blob infinite 15s ease-in-out alternate-reverse;
    /*animation-delay: -5s;*/
    /*top: 5px;*/
  }
  .site-menu a:hover::before {
    background-color: var(--color-tertiary);
    animation: blob infinite 25s linear alternate;
    /*top: -5px;*/
  }
}

@media (min-width: 1320px) {
  .site-menu {
    position: fixed;
    top: 100px;
  }
  header .site-menu {
    right: 7vw;
  }
  footer .site-menu {
    display: none;
  }
}

@media (min-width: 1850px) {
  .site-menu {
    top: 200px;
    transform: scale(1.5);
  }
}
