.theme-menu {
  /* background-color: var(--highlight); */
  position: absolute;
  border-radius: 50%;
  right: 0%;
  bottom: 5%;
  padding: var(--space-3xl);
  transform: scale(0.95);
  transition: 0.2s;
  z-index: 2;
  text-align: center;

  /* display: none; */
}
.theme-menu ul {
  display: grid;
  gap: var(--space-3xs);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.theme-menu a:hover {
  text-decoration: underline;
}

.theme-menu li:nth-of-type(1) .bubble {
  position: absolute;
  left: -10px;
  top: -30px;
}

.theme-menu li:nth-of-type(2) .bubble {
  position: absolute;
  right: -20px;
  bottom: 0;
}

a.bubble:has(.pe-circle) > span {
  display: grid;
  grid-template-columns: auto 16px auto;
  align-items: center;
}

.pe-circle {
  display: inline;
  max-width: 16px;
  position: relative;
  fill: var(--color);
}

@media (min-width: 500px) {
  .theme-menu {
    transform: scale(1);
    right: -5%;
    bottom: 5%;
  }
}

@media (min-width: 750px) {
  .theme-menu {
    position: absolute;
    right: initial;
    right: 130px;
    top: -30px;
    bottom: initial;
    transform: scale(0.9);
  }
  footer .theme-menu {
    top: 20px;
  }
}

@media (min-width: 1000px) {
  .theme-menu {
    right: initial;
    left: -40px;
    top: -40px;
  }
  footer .theme-menu {
    top: initial;
    bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .theme-menu {
    transform: scale(1.2);
    right: initial;
    left: 0;
    top: 0;
  }
  footer .theme-menu {
    top: initial;
    bottom: 0px;
  }
}
