.nav-bar {
	background-color: hsla(188, 35%, 58%, 1.00);
	/*color: white;*/

}

.nav-bar nav {
	display: flex;
	gap: 10px;
	justify-content: center;
}


.nav-bar nav a {
	font-size: 1.2rem;
	/*color: var(--ink);*/
	padding: 10px;

}





header {
		position: relative;
}


header nav .active {
	background-color: dodgerblue;
	color: white;
}


