.nav-bar {
	background-color: hsla(200, 100%, 50%, 1.00);
	color: white;

}

.nav-bar nav {
	display: flex;
	gap: 10px;
}


.nav-bar nav a {
	font-size: 1.2rem;
	/*color: var(--ink);*/
	padding: 20px;

}





header {
		position: relative;
}


header nav .active {
	background-color: darkgreen;
}