/* P reset */
@import 'preset';

/* S etup */
@import 'setup';

/* S setings */
@import 'settings';
@import 'developer-styles';

/* S tructure */
@import 'structure';

/* T ypography */
@import 'typography';

/* C omponents */
@import 'components';

/* S tuff :modules */
@import 'modules';

/* S ections and more stuff */

/* then other contextual styles */
body {
  background-color: var(--paper);
  color: var(--ink);
}

.my-fantastic-image {
  max-width: 300px;
  border-bottom-right-radius: 30px;
}
nav {
  display: flex;
  gap: 10px;
}



ul.monsters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

@media (min-width: 700px){
  graphic-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
}

evolution-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

evolution-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.has-condition {
  border: 3px dashed red;
}

evolution-list li.no-image {
  display: none;
}

skill-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

data-module {
  grid-column: 2/-1;
}
data-module ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
data-module .field {
  justify-self: center;
}
data-module .field picture {
  max-width: 50px;
}