/* buttons and icons and smaller reusable bits here */
a {
	color: var(--link);
}

.button {
	padding: 5px 15px;
	background-color: var(--light-color);
	cursor: pointer;
}

.button:hover {
	background-color: var(--light-highlight);
}

button {
	padding: 5px 15px;
	color: var(--paper);
	background-color: var(--link);
	cursor: pointer;
}

.hover-hide {
	opacity: 0;
}

.hover-hide:hover {
	opacity: 1;
}


.bubble {
	background-color: var(--light-color);
	border-radius: 50%;
	padding: 30px;
	position: relative;
}
.bubble span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}