/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
@import "modules.css";

/* S ections and more stuff */
@import "utilities.css";

/* then other contextual styles */
body {
  background-color: var(--paper);
  color: var(--ink);
}

.home-page .page-title,
.home-page footer {
  display: none;
}

header .theme-menu {
  display: none;
}
header nav ul {
  margin-top: var(--space-m);
  display: flex;
  flex-wrap: wrap;

  gap: var(--space-s);
}

header mast-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-menus {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* about */

about-module {
  display: grid;
  gap: var(--space-l);

  h2 {
    grid-column: 1/-1;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1.5fr 1fr;
  }
}

projects-grid {
  display: grid;
  gap: var(--space-2xl);

  h2 {
    grid-column: 1/-1;
  }
}

project-card {
  display: grid;
  gap: var(--space-3xs);
  justify-items: start;

  ul.tools {
    display: none;
    gap: var(--space-s);
  }

  picture {
    display: none;
  }
}

.project-page {
  .project-menu ul {
    display: flex;
    gap: var(--space-s);
  }
}

/*  */
goals-module {
  ul {
    background-color: var(--gray-lightest);
    padding: var(--space-xs);
  }
  li {
    list-style: circle;
    list-style-position: inside;
  }
}

/*  */

resume-section {
  ul.resume-section {
    margin-top: var(--space-l);
    display: grid;
    gap: var(--space-2xl);
  }

  resume-card {
    display: grid;
    gap: var(--space-3xs);
    ul {
      background-color: var(--gray-lightest);
      padding: var(--space-xs);
    }
    li {
      list-style: circle;
      list-style-position: inside;
    }
  }
}

blockquote {
  padding: var(--space-s);
  border-radius: var(--corners);
  background: var(--diagnol);
}

/*  */

.garden-menu ul {
  display: flex;
  gap: var(--space-s);
  flex-wrap: wrap;
  align-items: center;
}

/*  */
e4p-grid {
  display: grid;
  gap: var(--space-2xl);
  grid-template-columns: 1fr 1fr;

  e4p-chapter ul {
    margin-top: var(--space-l);
    display: grid;
    gap: var(--space-s);
  }
}
