/* Should we pull in @fonts here? */
.title-voice {
	
}

.loud-voice {
	font-family: sans-serif;
	font-size: clamp(2.25rem, calc(1.66rem + 2.93vw), 3.75rem);
}

@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700;
		/* or variable font */
	}
}

.attention-voice {
	font-family: sans-serif;
	font-size: clamp(1.50rem, calc(1.30rem + 0.98vw), 2.00rem);
}

.notice-voice {
	font-family: sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
}

.solid-voice {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 700;
}





.calm-voice,
p,
li {
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

.whisper-voice {
	font-family: sans-serif;
	font-size: 0.9rem;
	color: gray;
}

.teaser-voice {
	
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p+p {
	margin-top: 1em;
}

h2+p {
	margin-top: 20px;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}