layout-module {
	
	/*padding: 60px 15px;*/
}
/* buttons and icons and smaller reusable bits here */



.shapes #circle {
	fill:var(--color-dark);
	stroke:black;
	stroke-width:2px;
}

.shapes #rectangle {
	fill:var(--color-light);
	stroke:black;
	stroke-width:2.03px;
}