
html {
	--black: #111111;
	--white: #efefef;

	--neutral-stuffs: gray;

	--color: #9ec9eb;
	--highlight: #aadee9;

	--shadow: rgba(0,0,0,.8);

	--corners: 10px; /* or whatevers */

	--paper: var(--white);
	--ink: var(--black);
}

@media (prefers-color-scheme: dark) {
	html {
		--black: #111111;
		--white: #efefef;

		--neutral-stuffs: gray;

		--color: #9ec9eb;
		--highlight: #aadee9;

		--shadow: rgba(0,0,0,.8);

		--corners: 10px; /* or whatevers */

		--paper: red;
		--ink: yellow;
	}
}


html {
	--paper: rgba(217, 215, 208, 1.00);
	--head1: rgba(124, 38, 33, 1.00); /*also for bold*/
	--head2: rgba(180, 94, 89, 1.00); /*//also for italics*/
	--link: rgba(52, 90, 159, 1.00);
	--ink: rgba(45, 7, 6, 1.00);
	--color: rgba(229,180,131,1); /*subdued*/
	--highlight: rgba(233, 159, 85, 1.00); /*louder*/
	

}

@media (prefers-color-scheme: dark) {
	html {
	--paper: rgba(0, 0, 0, 1.00);
	--head1: rgba(217, 215, 208, 1.00);
	--head2: rgba(255, 255, 255, 1.00);
	--link: rgba(246, 233, 14, 1.00);
	--ink: rgba(217, 215, 208, 1.00);
	--color: rgba(163, 7, 3, 1.00);
	--highlight: rgba(233, 159, 85, 1.00);

	}
}